API_SUB_PATH=api
PORT=3000
NODE_ENV=dev
DEFAULT_PAGE_SIZE=10

DB_URI=[DB_PATH_CONNECTION] mongodb://localhost:27017/bd

JWT_SECRET=SECRET_PHRASE
JWT_TIME=2h
JWT_REFRESH_TIME=7d
JWT_REFRESH_SECRET=ANOTHER_SECRET_PHRASE

ENABLE_CACHE=true
CACHE_EXPIRED_TIME=300_000